<!DOCTYPE html>
<html>
    <head>
        <script src="{{ url_for('static', filename='babel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='react.development.js') }}"></script>
        <script src="{{ url_for('static', filename='react-dom.development.js') }}"></script>
        <script src="{{ url_for('static', filename='axios.min.js') }}"></script>

        <script type="text/jsx" src="{{ url_for('static', filename='business.js') }}"></script>
        <script type="text/jsx" src="{{ url_for('static', filename='app.js') }}"></script>
    </head>
    <body>
        <div id="react-root"></div>
        <!-- <a href="/compile">Download</a> -->
    </body>
</html>